<div class="container pr">
  <% if @orders.map(&:user_id).include? current_user.id %> 
    <h2>Cart</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <% running_total = 0 %> 
          <% @orders.each do |order| %>
            <% if order.user_id == current_user.id %>
              <tr>
                <td><%= order.product.name %></td>
                <td><%= order.product.price %></td>
                <td><%= order.quantity %>  
                  <%= link_to "Update", edit_order_path(order), class: "btn " %></td>
                <td><%= (order.quantity)*(order.product.price) %></td>
                <td></td>
                <% running_total = running_total+order.quantity*order.product.price %>
              </tr>
              <% end %>
          <% end %>
          <tr>
            <td> </td>
            <td> </td>
            <td style="font-weight: bold;">Total :</td>
            <td style="font-weight: bold;"><%= running_total %></td>
          </tr>
      </tbody>
    </table>
    <button>Order</button>

  <% else %>
    <h2>Your cart is empty</h2>  
  <% end %>
</div>
  


