<div class="container pr"> 
<% if @orders.empty? %>
  <h2>Your cart is empty</h2>
  <%= link_to "See previous orders", 'orders/history' %>
<% else %>
  <h2>Cart</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Items</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <% running_total = 0 %> 
        <% @orders.each do |order| %>
            <tr>
              <td><%= order.product.name %></td>
              <td><%= order.product.price %></td>
              <td><%= order.quantity %></td>
              <td><%= (order.quantity)*(order.product.price) %></td>
              <td><%= button_to "Remove", order_path(order), method: :delete, class: "btn btn-secondary" %></td>
              <td><%= link_to "Update", edit_order_path(order), class: "btn btn-secondary" %></td>
              <% running_total = running_total+order.quantity*order.product.price %>
            </tr>
        <% end %>
        <tr>
          <td> </td>
          <td> </td>
          <td style="font-weight: bold;">Total :</td>
          <td style="font-weight: bold;"><%= running_total %></td>
          <td></td>
          <td></td>
        </tr>
    </tbody>
  </table>
  <%= link_to "Buy now", 'orders/buy' %>
<% end %>
</div>
  


