<div class="container pr">
  <h2>Cart</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <% running_total = 0 %> 
        <% @orders.each do |order| %>
          <% if order.user_id == current_user.id %>
            <tr>
              <td><%= order.product.name %></td>
              <td><%= order.product.price %></td>
              <td><%= order.quantity %></td>
              <td><%= (order.quantity)*(order.product.price) %></td>
              <% running_total = running_total+order.quantity*order.product.price %>
            </tr>
            <% end %>
        <% end %>
    </tbody>
  </table>

  <h3 style="padding-left: 20px;" >Total : <%= running_total %></h3>
</div>

