<div class="container pr">
  <h2 id="mob">Mobiles</h2>
    <div class="container" style="display: flex;">
      <% @products.each do |product| %> 
        <% if product.catagory == "Mobile" %>
          <div class="card text-center" style="width: 25rem;">
            <%= image_tag(product.image, :size => "400x300")%>
            <div class="card-body">
                <h5 class="card-title"><%= product.price %></h5>
                <h5 class="card-title"><%= product.name %></h5>
                <p class="card-text"><%= product.description %></p>
                <%#= link_to "Show", product, class: "btn btn-primary" %>
                <%= form_for Order.new do |f| %>
                  <%= f.hidden_field :product_id, :value => product.id %>
                  <%= f.number_field :quantity, :value => 1, :min => 1 %>
                  <%= f.submit "Add to Cart" %>
                <% end %>
            </div>
          </div>
        <% end %> 
      <% end %>
    </div><br>

 <h2 id="access">Mobile accessories</h2>
    <div class="container" style="display: flex;">
      <% @products.each do |product| %> 
        <% if product.catagory == "Mobile accessories" %>
          <div class="card" style="width: 25rem;">
            <%= image_tag(product.image, :size => "400x300")%>
            <div class="card-body">
                <h5 class="card-title"><%= product.price %></h5>
                <h5 class="card-title"><%= product.name %></h5>
                <p class="card-text"><%= product.description %></p>
                <%#= link_to "Show", product, class: "btn btn-primary" %>
                <%= form_for Order.new do |f| %>
                  <%= f.hidden_field :product_id, :value => product.id %>
                  <%= f.number_field :quantity, :value => 1, :min => 1 %>
                  <%= f.submit "Add to Cart" %>
                <% end %>
            </div>
          </div>
        <% end %> 
      <% end %>
    </div>
</div>

 



  